body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#header{
	padding-top: 35px;
	font-size: 1.2em;
	color: white;
}

#hero-image{
	background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("static/layback.jpg");
	height: 1080px;
	background-position: center;
	background-position-y: 15%;
	background-size: cover;
	position: relative;
}

#hero-text {
  font-family: 'Frank Ruhl Libre', serif;
	font-size: 7em;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#hero-sub-text {
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 4em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.picture-section {
	height: 1080px;
	background-position: center;
	background-position-y: 15%;
	background-size: cover;
	position: relative;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 2em;
	/* position: absolute;
	top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
	color: white;
}

#sit {
	background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("static/sit.jpg")
}

#meet {
	background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("static/meet.jpg")
}

#work {
	background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("static/work.jpg")
}

#swim {
	background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("static/swim.jpg")
}
